# Dependencies (bun install)
node_modules

# Logs
logs

# Dotenv environment variable files
.env
.env.local

# Caches
.cache
*.tsbuildinfo

# Astro dev environment
.astro

# Vscode workspace config
.vscode
