---
import AsciiText from "@components/AsciiText.astro";
import Head from "@layouts/Head.astro";
---

<html lang="en">
  <Head title="Site not found" description="error: 404" />
  <body>
    <main>
      <div id="header">
        <AsciiText text="error: 404" font="BlurVision ASCII" />
      </div>
      <div id="error">
        <p>Page you were trying to find doesn't exist</p>
        <button onclick="location.href='/';">Home</button>
      </div>
    </main>
  </body>
</html>

<style lang="scss">
  @use "../style/utils" as util;
  @use "../style/design" as design;

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    margin: 0;

    color: white;
    background-color: black;
  }

  main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  #header,
  #error {
    @include util.border-dashed(1rem, white, 0);
  }

  #header {
    margin-bottom: 2%;
    padding: 2.5%;
  }

  #error {
    @include design.fonts-jetBrains-Mono(1rem, normal);

    text-align: center;
    width: fit-content;
    align-self: center;

    padding: 1%;

    button {
      margin: 10px;
      border: none;

      background-color: red;
      color: white;

      width: 90px;
      height: 30px;

      pointer: help;
    }
  }
</style>
