---
import Body from "@layouts/body.astro";
import { getCollection } from "astro:content";

const changeLog = await getCollection("changeLog");
---

<Body pageTitle="Change-log" description="Here are the changes to this website i have made">
  <main>
    {
      changeLog.map((change) => (
        <div>
          <p>
            {change.data.id}
            <span> | </span>
            {change.data.date}
          </p>
          <p>{change.data.change}</p>
        </div>
      ))
    }
  </main>
</Body>

<style lang="scss">
  @use "../style/utils" as util;
  @use "../style/design" as design;

  html {
    body {
      background-color: design.$color-bg-primary;
      color: design.$color-primary;
    }
  }
</style>
