---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout text="No-name2215" font="Alligator">
  <h1 class="heading">Greetings</h1>
  <p class="para">
    If you are reading this you have stumbled into my site. It is under
    construction, i am activly developing it. IDK when i will update it,
    <i>new to webdev</i>
    <b>still learning</b>, third attempt BTW. I'm planning to share github link
    but first i need to get it into sufficent shape. This site is being made
    with astro js framework, this is my first time writing js it's deffinittly
    different from my previous experience.
  </p>
  <h2 class="heading">About Webmaster</h2>
  <div id="webmaster">
    <div id="inner-left">
      <h3 class="heading">Who am i</h3>
      <p class="para">
        I'm young adult 23 at the moment, male living in <s>eastern</s> cental europe.
        I was diagnosed with aspergers at the age of <a
          href="https://www.youtube.com/watch?v=gIqc4MQNDKA">21</a
        >, still struggling to find myself in this new reality. Failed computer
        science 2 times, currently doing weekend course in financial managment.
        IDK what i will do after finishing it but definitly not finanse.
      </p>
    </div>
    <div id="inner-right">
      <h3 class="heading">Thing i enjoy</h3>
      <ul>
        <li class="para">Games</li>
        <li class="para">Japanese media</li>
        <li class="para">Computers <b>I USE ARCH BTW</b></li>
        <li class="para">Cats</li>
      </ul>
    </div>
  </div>

  <style lang="scss">
    @use "../style/fonts";
    @use "../style/layout";
    @use "../style/borders";
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      cursor: help;
    }
    .heading {
      @include fonts.jetBrains-Mono();
      margin: 2px;
      text-align: center;
    }
    .para {
      @include fonts.roboto();
      text-align: justify;
    }
    #webmaster {
      @include layout.flex-row(nowrap);
      gap: 10px;
      #inner-left {
        @include borders.dashed(red);
        width: 70%;
        padding: 15px;
        p {
        }
      }
      #inner-right {
        @include layout.flex-col(nowrap);
        @include borders.dashed(blue);
        width: 30%;
      }
    }
  </style>
</MainLayout>
