---
import MainLayout from "@layouts/MainLayout.astro"
---

<MainLayout text="No-name2215" font="Alligator">

  <h1>Welcome</h1>

</MainLayout>


<style lang="scss">

body {
  background-color: black;
  color: white;
}

</style>