---
import Head from "@layouts/Head.astro";
import MainHeader from "./MainHeader.astro";
import MainFooter from "./MainFooter.astro";
import MainAsisde from "./MainAsisde.astro";
const { title, description, font } = Astro.props;
---

<html lang="en">
  <Head title={title} description={description} />
  <body>
    <MainHeader title={title} font={font} />
    <div id="content">
      <MainAsisde />
      <main><slot /></main>
    </div>
    <MainFooter />
  </body>
</html>

<style lang="scss">
  @use "../../style/utils" as util;
  @use "../../style/design" as design;

  body {
    @include util.layout-flex-col(nowrap);
    align-items: center;

    background-color: design.$color-bg-primary;
    color: design.$color-primary;

    #content {
      width: 60vw;
      display: grid;
      grid-template-columns: 0.5fr 1em 2.5fr;

      aside {
        grid-column: 1;
      }
      main {
        grid-column: 3;
        width: fit-content;
        @include util.border-solid(0.3em, design.$color-accent, 0);
        background-color: design.$color-bg-secondary;
        padding: 1rem;
      }
    }
  }
</style>
