---
import AsciiText from "@components/AsciiText.astro";
import MainHead from "@layouts/MainHead.astro";
import MainFooter from "./MainFooter.astro";

interface Props {
  text: string;
  font?: string;
}

const { text, font } = Astro.props;
---

<html lang="en">
  <MainHead title="No-name2215" description="Home page" />
  <body>
    <header>
      <AsciiText text={text} font={font} />
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <MainFooter />
    </footer>
  </body>
</html>

<style lang="scss">
  @use "../style/base";
  @use "../style/layout";
  @use "../style/borders";

  * {
    @include layout.box-border();
  }

  body {
    @include base.colors(white, black);
    @include layout.flex-col(nowrap);
    align-items: center;
  }

  header {
    @include borders.dashed(white);

    margin: 30px;
    padding: 20px;
  }

  main {
    width: 60%;
  }

  footer {
    margin: 30px;
  }
</style>
